body{
    background-color: rgb(164, 223, 242);
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
table{
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.Todo-Item:hover .trash-icon{
    display: block;
}
